* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-header {
  width: 100%;
}

.nav {
  height: 80px;
  width: 80%;
  margin: 0 auto;
}

.nav-search {
  line-height: 80px;
}

.header-nav-search {
  background-color: #dcecf7;
  border-bottom: 2px solid grey;
}

.nav-search-left {
  float: left;
  width: 60%;
}

.nav-search-left ul li {
  display: inline;
}

.nav-search-left ul li:last-child {
  color: #33475B;
  padding-left: 10px;
  border-left: 1px solid #33475B;
}

.nav-search-left ul li a {
  color: #33475B;
  text-decoration: none;
  margin-right: 10px;
}

.nav-search-right {
  float: right;
  width: 40%;
  text-align: right;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.button-white {
  background-color: #fff;
  border: 1px solid #FF7A59;
  color: #FF7A59;
  margin: 0 15px;
}

.button-orange {
  background-color: #FF7A59;
  color: #fff;
}

.nav-search-right ul li {
  list-style: none;
  display: inline;
}

.nav-search-right ul li .fa-search {
  color: rgb(99, 215, 241);
}

.nav-search-right ul li a {
  text-decoration: none;
}

.header-nav-menu {
  background-color: #fff;
  line-height: 80px;
}

.nav-menu-left {
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
}

.nav-menu-left .logo-img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.nav-menu-right {
  float: right;
  width: 70%;
  text-align: right;
}

.nav-menu-right ul li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}

.nav-menu-right ul li a {
  color: #33475B;
  text-decoration: none;
}

.logo-img img {
  display: block;
}

.jumbo {
  background-image: url("../img/jumbotron.png");
  height: 700px;
  background-size: cover;
  background-position: bottom center;
}

.jumbo-contain {
  height: 100%;
  width: 80%;
  /* background-color: white; */
  margin: 0 auto;
  position: relative;
}

.jumbo-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40%;
}

.jumbo-content h1 {
  color: #33475B;
  font-size: 60px;
  margin-bottom: 20px;
}

.jumbo-content p {
  color: #33475B;
  font-weight: 400;
  line-height: 1.6em;
}

.jumbo-button {
  padding: 40px 0;
}

.jumbo-content .jumbo-button a {
  padding: 25px 30px;
}

.jumbo-content #info {
  width: 45%;
  font-size: 0.8em;
  font-weight: 700;
}

.divider {
  height: 74px;
  background-color: #AFEBE4;
  border: 3px solid #33475B;
  border-right: 0;
  border-left: 0;
}

.page-main {
  /* height: 1400px; */
  background-color: #F5F8FA;
  padding: 30px 0;
}

.page-main h2 {
  color: #33475B;
  font-size: 30px;
  padding-bottom: 20px;
}

.page-main p {
  font-weight: 400;
  color: #33475B;
}

.main-top {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.main-top-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.main-top img {
  width: 40%;
}

.home-features {
  width: 80%;
  margin: 0 auto;
}

.feature-top-row {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px #DADBEF;
  height: 250px;
}

.feature-top-row::after {
  content: "";
  display: table;
  clear: both;
}

.feature-top-row h3 {
  color: #33475B;
  font-size: 20px;
}

.col-left {
  width: 30%;
  height: 200px;
  float: left;
}

.feature-top-row .card-wrapper {
  text-align: center;
  position: relative;
}

.feature-top-row .card-wrapper img {
  width: 180px;
}

.card-button {
  text-align: center;
  padding-top: 20px;
}

.card-button a {
  background-color: #FF7A59;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
}

.col-right {
  width: 70%;
  /* background-color: rgb(144, 74, 222); */
  height: 200px;
  float: left;
}

.feature-top-row .col-right {
  padding: 24px 15px;
}

.feature-top-row .col-right>p {
  padding: 20px 0;
}

.features-pop {
  height: 30px;
  width: 30%;
  float: left;
}

.features-pop p {
  font-weight: 700;
  text-transform: uppercase;
  color: #33475B;
  font-size: 14px;
}

.features-hr {
  /* background-color: rgb(238, 83, 153); */
  height: 30px;
  width: 70%;
  float: left;
  position: relative;
}

.features-hr hr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

.features-list {
  width: 100%;
  margin-top: 40px;
}

.features-list ul {
  list-style: none;
}

.features-list ul li {
  display: inline;
  margin-right: 15px;
  font-size: 15px;
}

.features-list ul li img {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 10px;
}

.feature-bottom-row {
  width: 100%;
  margin: 30px 0;
}

.feature-bottom-row::after {
  content: "";
  display: table;
  clear: both;
}

.bottom-row-col {
  text-align: center;
  width: 30%;
  background-color: #fff;
  float: left;
  padding: 5px 15px 35px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px #DADBEF;
}

.bottom-row-col.col-mid {
  margin: 0 5%;
}

.feature-bottom-row h3 {
  color: #33475B;
  font-size: 20px;
  margin-bottom: 20px;
}

.feature-bottom-row .bottom-row-col>p {
  color: #33475B;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.feature-bottom-row .bottom-row-col hr {
  color: rgb(69, 70, 68);
  border-width: 2px;
  margin: 5px 0 20px 0;
}

.feature-bottom-row .bottom-features-pop p {
  font-weight: 700;
  text-transform: uppercase;
  color: #33475B;
  font-size: 14px;
  margin-bottom: 20px;
}

.feature-bottom-row .bottom-features-list {
  margin-bottom: 25px;
}

.feature-bottom-row .bottom-features-list ul {
  list-style: none;
  text-align: left;
}

.feature-bottom-row .bottom-features-list ul li {
  margin-right: 15px;
  font-size: 14px;
  margin-bottom: 3px;
  color: #33475B;
}

.feature-bottom-row .bottom-features-list ul li img {
  width: 18px;
  height: 18px;
  margin: 0 12px -3px 0;
}

.insights-container {
  /* height: 500px; */
  width: 100%;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 35px 0 70px 0;
}

.insights {
  width: 80%;
  margin: 0 auto;
}

.insights h2 {
  color: #fff;
  max-width: 750px;
  margin: 0 auto;
}

.insights p {
  color: #fff;
  max-width: 750px;
  margin: 0 auto;
}

.insights-row-containter {
  width: 100%;
  margin-top: 40px;
}

.insights-row-containter::after {
  content: "";
  display: table;
  clear: both;
}

.insights-row {
  height: 100px;
}

.insights-col {
  float: left;
  width: 25%;
  padding: 20px 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.insights-row .insights-col:last-child {
  border-right: 0;
}

.insights-row.row-bottom .insights-col {
  border-bottom: 0;
}

.insights-row-containter i {
  color: #fff;
  font-size: 40px;
}

.insights-row-containter h3 {
  font-size: 50px;
  color: #fff;
  padding: 10px 0;
}

.page-footer {
  height: 300px;
  background-color: #33475B;
}
