* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-header {
  width: 100%;
  height: 600px;
  background-color: pink;
}

.nav {
  height: 80px;
  width: 80%;
  margin: 0 auto;
}

.header-nav-search {
  background-color: #dcecf7;
  border-bottom: 2px solid grey;
}

.nav-search-left {
  float: left;
  width: 60%;
}

.nav-search-left ul {
}

.nav-search-left ul li {
  /* list-style: none; */
  display: inline;
  /* display: inline-block; */
}

.nav-search-left ul li:last-child {
  color: #33475B;
  padding-left: 10px;
  border-left: 1px solid #33475B;
}

.nav-search-left ul li a {
  color: #33475B;
  text-decoration: none;
  margin-right: 10px;
}

.nav-search-right {
  float: right;
  width: 40%;
  text-align: right;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
}

.button-white {
  background-color: #fff;
  border: 1px solid #FF7A59;
  color: #FF7A59;
  margin: 0 15px;
}

.button-orange {
  background-color: #FF7A59;
  color: #fff;
}

.nav-search-right ul li {
  list-style: none;
  display: inline;
  /* display: inline-block; */
}

.nav-search-right ul li .fa-search {
  color: rgb(99, 215, 241);
}
.nav-search-right ul li a {
  text-decoration: none;
}

.header-nav-menu {
  background-color: #fff;
}

.nav-search {
  line-height: 80px;
}

.nav-menu {
  background-color: red;
}

.nav-menu-left {
  width: 30%;
  float: left;
  height: 50px;
  background-color: green;
}

.nav-menu-right {
  float: right;
  width: 70%;
  height: 50px;
  background-color: orange;
}

.nav-menu-right ul li {
  list-style: none;
  display: inline;
  /* display: inline-block; */
}

.nav-menu-right ul li a {
  color: white;
  text-decoration: none;
}

.logo-img img {
  display: block;
}

.jumbo {
  /* background-color: orange; */
  background-image: url("../img/jumbotron.png");
  height: 500px;
  background-size: cover;
  background-position: bottom center;
}

.jumbo-contain {
  height: 100%;
  width: 80%;
  /* background-color: white; */
  margin: 0 auto;
  position: relative;
}

.jumbo-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
}

.divider {
  height: 74px;
  background-color: #AFEBE4;
  border: 3px solid #33475B;
  border-right: 0;
  border-left: 0;
}

.page-main {
  height: 1200px;
  background-color: #dcecf7;
  padding: 30px 0;
}

.main-top {
  background-color: rgb(38, 92, 125);
  height: 300px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.main-top-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-top img {
  width: 35%;
  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); */
}

.home-features {
  height: 400px;
  background-color: rgb(152, 242, 127);
  width: 80%;
  margin: 0 auto;
}

.features-top-row::after {
  content: "";
  display: table;
  clear: both;
}

.col-left {
  width: 30%;
  background-color: rgb(15, 134, 213);
  height: 200px;
  float: left;
}

.card-wrapper {
  text-align: center;
  position: relative;
}

.card-button {
  text-align: center;
  padding-top: 20px;
}

.card-button a {
  background-color: #FF7A59;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
}

.col-right {
  width: 70%;
  background-color: rgb(144, 74, 222);
  height: 200px;
  float: left;
}

.feature-top-row .col-right {
  padding: 24px 15px;
}

.feature-top-row .col-right>p {
  padding: 20px 0;
}

.features-pop {
  background-color: rgb(124, 75, 97);
  height: 30px;
  width: 35%;
  float: left;
}

.features-hr {
  background-color: rgb(238, 83, 153);
  height: 30px;
  width: 65%;
  float: left;
  position: relative;
}

.features-hr hr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.features-list {
  width: 100%;
  background-color: rgb(203, 157, 139);
}

.features-list ul {
  list-style: none;
}

.features-list li {
  display: inline;
}

.page-footer {
  height: 300px;
  background-color: #33475B;
}
